<div class="card flex justify-content-center">
  <p-button (click)="showDialog()" icon="pi pi-search" label="" [style]="{backgroundColor:'var(--cor-01)'}"></p-button>
  <p-dialog header="Buscar Produtos..." [(visible)]="visible" [modal]="true"
    [style]="{ width: '25rem', height:'250px' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [dismissableMask]="true" [resizable]="false" [draggable]="false" position="top">
    <div [style]="{marginTop:'20px'}">
      <app-auto-complete-header></app-auto-complete-header>
    </div>
  </p-dialog>
</div>
