<section class="card-inicial">
    <div >
        <div class="card-inicial-1 shadow-7">
            <h4 >ACOMPANHE NOSSO</h4>
            <h3>BAZAR</h3>
            <div class="botao">
                <p-button label="VEJA NOSSAS NOVIDADES"  [style]="{backgroundColor:'var(--branco)', color:'var(--cor-01)'}"></p-button>
            </div>
        </div>
    </div>
    <div >
        <div class="card-inicial-2 shadow-7">
            <h4 >ACOMPANHE TODOS NOSSOS PRODUTOS DE</h4>
            <h3>MATERIAIS DE CONSTRUÇÃO</h3>
            <div class="botao">
                <p-button label="VEJA NOSSAS NOVIDADES" [style]="{backgroundColor:'var(--branco)', color:'var(--cor-01)'}"></p-button>
            </div>
        </div>
    </div>
</section>