<div class="card flex justify-content-center gap-3 my-6">
    <div class="flex align-items-center">
       <p-checkbox label="BH e Região" name="BH e Região" value="Cheese" [(ngModel)]="pizza"></p-checkbox>
   </div>
   <div class="flex align-items-center">
       <p-checkbox label="Interior" name="Interior" value="Mushroom" [(ngModel)]="pizza"></p-checkbox>
   </div>
   <div class="flex align-items-center">
       <p-checkbox label="Especial" name="Especial" value="Pepper" [(ngModel)]="pizza"></p-checkbox>
   </div>
</div>