<div class="card flex flex-column my-4 md:flex-row gap-3">
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="Nome" />
    </p-inputGroup>
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-envelope"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="E-Mail" />
    </p-inputGroup>
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-phone"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="Telefone" />
    </p-inputGroup>
</div>


<div class="card flex flex-column my-4 justify-content-center md:flex-row gap-3">
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-map-marker"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="CEP" />
    </p-inputGroup>
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-map-marker"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="Endereço" />
    </p-inputGroup>
    <p-inputGroup>
        <p-inputGroupAddon>
            <i class="pi pi-verified"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="CNPJ" />
    </p-inputGroup>
</div>