<div class="main-header">
        <a href="/"><img src="/./assets/logo.png" width="80px"/></a>

        <div class="flex flex-wrap align-items-center gap-2">
            <app-dialog-header3></app-dialog-header3>
            <app-dialog-header></app-dialog-header>
            <!-- <app-dialog-header2></app-dialog-header2> -->
            <app-dialog-header4></app-dialog-header4>
        </div>

    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
            <span class="font-bold text-bluegray-50">Amy Elsner</span>
        </div>
    </ng-template>
</div>
